# --- Environment variables ---
# Exclude this if it may contain real secrets, and use .env.example instead
# .env

# --- JetBrains IDE (when partially tracking .idea) ---
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/httpRequests/
.idea/caches/
.idea/tasks.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/GitLink.xml
.idea/db-forest-config.xml
.idea/dataSources/
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/dataSources.ids
.idea/**/dbnavigator.xml
*.iws
out/

# --- VSCode ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems

# --- Windows ---
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# --- Linux ---
*~
.directory
.Trash-*
.nfs*